/* Common for all body */
body {
  background-image: url("images/bg2.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  color :rgb(49, 49, 49);
}

/* Top Heading */
h1 {
  font-size: 5rem;
  font-family: "Lobster";
}

/* Player */
h3 {
  font-family: 'Lavishly Yours', cursive;
  font-size: 3rem;
  display: inline;
  font-weight: bold;
}

/* Website Link */
h4 {
  font-family: 'Ingrid Darling', cursive;
  font-weight: bold;
  font-size: 2rem;
}

/* Just Refresh */
p {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Lobster";
}

/* Tied, Win Text */
.p1,
.p2,
.tied {
  display: none;
  margin: 0 10px;
  font-size: 2.5rem;
}

/* main container */
.container {
  width: 100%;
}

/* Dice images */
img {
  margin: 20px auto;
  width: 30%;
  display: block;
}

/* Media Query */
@media screen and (max-width : 400px) {
  h1 {
      font-size: 3rem;
  }

  h3,
  .p1,
  .p2,
  .tied {
      font-size: 2.5rem;
  }
}